

<h2><i class="bi bi-piggy-bank text-warning" style=" font-size:100px"></i>&nbsp;關於<span class="badge badge-pill font-weight-bold text-white" style=" font-size: 30px;background-color:#0e5f9c">記帳</span>這件事</h2>

<h3>為什麼要記帳?</h3>
<p style="font-size:20px">
    一個簡單的問題，你知道你現在有多少錢嗎？<br />
    如果平常沒有記帳的人，你需要去銀行刷簿子、翻閱最新一期的信用卡帳單、<br />
    登入各家網銀查詢餘額後，在全部做加總計算（還沒包含你錢包的鈔票、口袋的零錢和撲滿裡面的硬幣）。<br />
    如果你還有定存、外幣、投資、貸款、不動產等其他資產和負債，給你一天的時間說不定都還沒辦法計算出來。<br />
    那搞不清楚會怎樣嗎？<br />
    如果你未來打算想買車、買房，甚至準備要結婚、生小孩，有很多必要性的花費需要支付。<br />
    要是你不清楚自己現有的資產和負債，你就沒辦法去評估你目前是否能夠負擔未來的這些開銷，<br />
    或是提早去規劃你需要存多久才能實現你的目標。<br />
    所以記帳的其中一個重點是，讓你清楚知道你有多少資金可以去做分配。
</p>
<a style="font-size:20px" href="https://doc.moze.app/preface/why">內文出處</a>
