


<h2><i class="bi bi-youtube text-danger" style=" font-size:100px"></i>&nbsp;看影片學理財</h2>

<img src="https://yt3.ggpht.com/ytc/AKedOLRYrxF1l_GdsTs_3XUtFVJfBy92XD-cCURQH0SI=s900-c-k-c0x00ffffff-no-rj" class="rounded" alt="理財達人秀" width="200" height="200">
<p style="font-size:20px">
    <br />
    全台灣最精采好懂的理財影片！保險、股市、房地產、基金、投資觀念，最實用的知識一看就通。<br />
    節目主持人、製作人與頻道主：李兆華
</p>
<a style="font-size:20px" href="https://www.youtube.com/c/%E7%90%86%E8%B2%A1%E9%81%94%E4%BA%BA%E7%A7%80EBCmoneyshow">網址連結</a>
