@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2 class="font-weight-bold">關於記帳</h2>
        <p style="font-size:20px">
            偷偷告訴你<br />關於記帳的一些迷思、記帳的目的...<br/>更多你不知道的事!
        </p>
        <p style="font-size:20px"><a class="btn btn-default" href="../Home/About">想看更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="font-weight-bold">理財影片</h2>
        <p style="font-size:20px">
            想學好理財?<br />那就多看看這個！
        </p>
        <p style="font-size:20px"><a class="btn btn-default" href="../Home/Contact">我有興趣 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="font-weight-bold">開始記帳</h2>
        <p style="font-size:20px">準備開始你的記帳旅途了嗎？<br/>準備好就來吧！！！</p>
        <p style="font-size:20px"><a class="btn btn-default" href="../List">前往記帳 &raquo;</a></p>
    </div>
</div>